.container {
    padding: 30px;
}

h1 {
    font: bold;
    text-decoration: underline;
}

table {
    border: solid;
}

td {
    padding-top: 10px;
    font-size: 12pt;
}

.attachments {
    padding-top: 10px;
}

button {
    margin-top: 10px;
}